/* NAVBAR */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

.list {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.items {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}

.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
}

.navbar {
  width: 100vw;
  background-color: rgb(112, 220, 112);
  padding: 0 2rem;
}

.navbar,
.navbar-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-title {
  font-family: 'Cabin Sketch', cursive;
  letter-spacing: 5px;
  font-size: 3rem;
}

.animated-links {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  padding: .3rem 1rem;
  width: auto;
  color: black;
}

.animated-links:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.animated-links:hover:after { 
  width: 100%;
  left: 0
}


@media screen and (max-width: 500px){
  .list {
      flex-direction: column;
      height: auto;
  }
  .items:nth-child(1){
      border-top: 1px solid rgba(255, 255, 255, 0.555);
      margin-top: 50px;
  }
  .items {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.555);
      text-align: center;
      margin-right: 0px;
      padding: 20px 0;
  }
  .btn {
      display: block;
  }
}