
/* NAVBAR */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

.list {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.items {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
}


.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
}

.navbar {
  width: 100vw;
  background-color: rgb(112, 220, 112);
  padding: 0 2rem;
}

.navbar,
.navbar-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-title {
  font-family: 'Cabin Sketch', cursive;
  letter-spacing: 5px;
  font-size: 3rem;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}


.logo {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Cabin Sketch', cursive;
  letter-spacing: 5px;
}

.header, 
.menu-icon, 
.navicon:after {
  top: -5px;

}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 320px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.shopping-cart {
  height: 2rem;
  width: 2rem;
  transform: translate(-70%, 60%);

}

.animated-links {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  padding: 0.3rem 0.5rem;
  width: auto;
  color: black;
}

.animated-links:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 1;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}


.animated-links:hover:after { 
  width: 100%;
  left: 0
}


@media screen and (max-width: 500px){
  .list {
      flex-direction: column;
      height: auto;
  }
  .items:nth-child(1){
      border-top: 1px solid rgba(255, 255, 255, 0.555);
      margin-top: 50px;
  }
  .items {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.555);
      text-align: center;
      margin-right: 0px;
      padding: 20px 0;
  }
  .btn {
      display: block;
  }
}

.animated-links:hover:after {
  width: 24%;
  left: 38%;
}

/* 48em = 768px */

@media (min-width: 75em) {
  .header li {
    float: left;
  }
  
  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

}
