.search-product-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: center;
}

.search-product-list-text {
  margin-right: 1rem;
  font-weight: 700;
}

.search-product-list-text-input {
  border: 1px solid grey;
  width: 200pxs
}

.title {
  margin: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
}

.filter {
  margin: 20px;
}

.filter-text {
  margin: 20px;
}

.select {
  padding: 8px;
  margin-right: 20px;
}
