.signin-container{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zmxvd2Vyc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=600&q=60")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-wrapper{
  width: 25%;
  padding: 20px;
  background-color: white;
  
}

.signin-title{
  font-size: 24px;
  font-weight: 300;
}

.signin-form{
  display: flex;
  flex-direction: column;
}

.signin-input{
  flex: 1;
  min-width: 40%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #c1c1c1;
}

.signin-button{
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: #cb3486;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}
.signin-link{
  margin: 5px 0px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  color: black;
}